body {
    color: #cdc5bf;
    background-color: rgba(112,128,144);
    width: 100%;
}

ul {
    list-style: none;
}

button {
    background-color: #36648b;
    color: #cdc5bf;
    padding: 7px;
    margin: 2px;
    font-size: 13px;
    border: none;
    font-family: Oswald;
    border: 1px solid #cdc5bf;
    border-radius: 5px;

}

a {
    text-decoration: none;
    color: #cdc5bf;
}

a:hover {
    text-decoration: none;
    color: #323A40;
}

strong {
    #bec6cc;
}

p {
    white-space: pre-line;
    width: 560px;
}

p.code-block {
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre-line;
    background-color: #152837;
    color: #cdcdbf;
    font-size: 12pt;
    display: inline-block;
    width: 530px;
    padding: 5px 10px 7px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}

.useritem-lists {
    display: block;
    overflow: auto;
}

.pending {
    display: block;
    overflow: auto;
}

.contrib-list {
    display: block;
    float: left;
    margin-top: 2%;
}

.user-list {
    display: block;
    float: left;
    margin-top: 2%;
}

.pending-list {
    display: block;
    float: left;
    margin-top: 2%;
}

li {display: block;}

.cat_menu_item {
    display: inline-block;
    margin: 2px 5px 2px 5px;
}

.cat_menu_list {
    margin: 2px 5px 2px 5px;
    padding: 0;
}
